/* --Base-- */

:root{
    --pink:#f63fff;
--blue:#8400ff;
--purple:#4d245b;
--dark:#130418;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#backgroundTopo {
    background-color: #130418;
  width: 100%;
  z-index: -1;
  position: fixed;
  fill: rgba(254, 2, 198, 0.25);
  stroke: rgba(254, 2, 198, 0.4);
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  animation: draw 6s ease-in-out infinite alternate;
}

@keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
/*--Navbar--*/

/*--Main--*/
main {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10rem;
    flex-wrap: wrap;
    font-family: "Zalando Sans Expanded", sans-serif;
    color: var(--blue);
}

section {
    background-color:#130418;
 text-align: center;
 font-size: x-large;
 border-style: unset;
 box-shadow: 0 0 10px #c90675;
 border-radius: 10px;
 padding: 20px;
}
section h2 {
    font-size: 50px;
    margin: 50px;
    text-shadow: 0 0 60px var(--pink);
}
section h3 {
    font-size: larger;
}
section p{
    font-size: medium;
    margin-bottom: 5rem;
}

/*--About--*/
.about {
    font-size: larger;
    margin: 20px;
}

.social {
    width: 3rem;
    margin: 1rem;
    cursor: pointer;
}

/*--Contact--*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
gap: 1rem;
border: 20px;
font-size: medium;
}
label {
    font-weight: 500;
}
input {
    width:fit-content;
    background-color: #130418;
    color: #c90675;
}
textarea{
    background-color: #130418;
    width: 20rem;
    height: 10rem;
}
button {
    background-color: var(--purple);
    color: var(--pink);
    border-color: var(--blue);
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}
button :hover{
    background: var(--dark);
}

/*--Quotes--*/

.quotes-container {
    background-color: #130418(255, 0, 0, 0);
    max-width: 1500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    padding: 10px;
}
div h2 {
    text-shadow: #130418;
    font-size: 5rem;
}
.quote-box {
    width: fit-content;
    background-color: #130418;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px var(--pink);
    margin-bottom: 10px;
}

/*--Footer--*/
