@import url('nav-bar.css');
@import url('votre-page.css');

:root {
  --pink: #f63fff;
  --pink-lighter: #f53fff83;
  --blue: #8400ff;
  --purple: #4d245b;
  --dark: #130418;
  --title-font: "Zalando Sans Expanded", sans-serif;
  --content-font: "Montserrat", sans-serif;
}

body {
  background: var(--dark);
}

* {
  margin: 0;
  padding: 0;
}

a,
button,
h1,
h2,
h3 {
  font-family: var(--title-font);
}

span,
p,
div {
  font-family: var(--content-font)
}