/* classes à contruire en css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zalando Sans Expanded", sans-serif;

}

body {
  background-color: #130418;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: left;
  padding: 3rem;
  flex-wrap: wrap;
  background: none;
}


#backgroundTopo {
  top: 0;
  width: 100%;
  z-index: -1;
  position: fixed;
  fill: rgba(254, 2, 198, 0.1);
  stroke: rgba(254, 2, 198, 0.2);
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  animation: draw 6s ease-in-out infinite alternate;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.title {
  /* copier css du titre pour les autres pages */
  font-size: 5rem;
  line-height: 0.9rem;
  padding-left: 1rem;

}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.disk {
  margin-top: 1rem;
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  height: 500px;
  width: 300px;
  padding: 1rem;
}

.disk-cover {
  width: 250px;
  object-fit: contain;
  border-radius: 20px;
}

.disk-title {
  justify-content: center;
  font-family: 'Montserrat';
  font-weight: bold;
  color: #4d245b;
  background-color: #8400ff;
  padding: 1rem;
}

.disk-description {
  justify-content: center;
  font-family: 'Montserrat';
  font-size: small;
  color: #130418;
  background-color: #8400ff;
  padding: 1rem;
}